/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito+Sans:opsz,wght@6..12,500&display=swap');

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-color: aqua;
    text-decoration-style: dashed;
    text-align: center;
}

p {
    /* font-family: cursive; */
    font-family: 'Nunito Sans', sans-serif;
    line-height: 2;
    text-decoration-thickness: 3px ;  /* not applicable as we did not use text-decoration property  here*/
    text-indent: 30px;
    width: 300px;
    border: 5px solid red;
    /* text-overflow: clip; */
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}
h2.css1{
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: blueviolet;
}
.css2{
    text-transform: lowercase;
    text-decoration: underline;
    text-decoration-color: chartreuse;
    text-decoration-thickness: 10px ;
}
.css3{
    text-transform: uppercase;
}